<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazycount.dao.TransactionRateDao">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO transactions_rate (
            tenant_id,
            rate_group_id,
            leg1_transaction_id,
            leg2_transaction_id,
            exchange_rate,
            rate_expression,
            currency_from_id,
            amount_from,
            currency_to_id,
            amount_to,
            middleman_account_id,
            middleman_rate,
            middleman_rate_expression,
            middleman_amount,
            platform_fee_amount
        ) VALUES (
            #{tenantId},
            #{rateGroupId},
            #{leg1TransactionId},
            #{leg2TransactionId},
            #{exchangeRate},
            #{rateExpression},
            #{currencyFromId},
            #{amountFrom},
            #{currencyToId},
            #{amountTo},
            #{middlemanAccountId},
            #{middlemanRate},
            #{middlemanRateExpression},
            #{middlemanAmount},
            #{platformFeeAmount}
        )
    </insert>

    <delete id="deleteByTenantIdAndRateGroupIds">
        DELETE FROM transactions_rate
        WHERE tenant_id = #{tenantId}
          AND rate_group_id IN
        <foreach collection="rateGroupIds" item="rateGroupId" open="(" separator="," close=")">
            #{rateGroupId}
        </foreach>
    </delete>

</mapper>
